@import "@/styles/variables.module.scss";

.main {
  background-color: $green2;
  color: $green11;
  min-height: 100vh;
  display: flex;
  padding: 1rem 10%;

  @media screen and (max-width: 800px) {
    padding: 1rem 5%;
  }
}
