@import "@/styles/variables.module.scss";

.navbar {
  background-color: $green2;
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  gap: 2rem;
  > a {
    font-size: x-large;
    text-decoration: none;
    color: $green11;
    cursor: pointer;
    background-color: $green5;

    padding: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    transition: border-radius 0.25s;
    &:hover {
      background-color: $green6;
      border-color: $green8;
      border-radius: 0.25rem;
      transition: border-radius 0.25s;
    }
    &.active {
      background-color: $green6;
      border-color: $green8;
      border-radius: 0.25rem;
    }
  }
}
