.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .projectList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  & .projectLi {
    list-style: none;
  }
}
