$green1: hsl(136, 50%, 98.9%);
$green2: hsl(138, 62.5%, 96.9%);
$green3: hsl(139, 55.2%, 94.5%);
$green4: hsl(140, 48.7%, 91%);
$green5: hsl(141, 43.7%, 86%);
$green6: hsl(143, 40.3%, 79%);
$green7: hsl(146, 38.5%, 69%);
$green8: hsl(151, 40.2%, 54.1%);
$green9: hsl(151, 55%, 41.5%);
$green10: hsl(152, 57.5%, 37.6%);
$green11: hsl(153, 67%, 28.5%);
$green12: hsl(155, 40%, 14%);

$sage1: hsl(155, 30%, 98.8%);
$sage2: hsl(150, 16.7%, 97.6%);
$sage3: hsl(151, 10.6%, 95.2%);
$sage4: hsl(151, 8.8%, 93%);
$sage5: hsl(151, 7.8%, 90.8%);
$sage6: hsl(152, 7.2%, 88.4%);
$sage7: hsl(153, 6.7%, 85.3%);
$sage8: hsl(154, 6.1%, 77.5%);
$sage9: hsl(155, 3.5%, 55.5%);
$sage10: hsl(154, 2.8%, 51.7%);
$sage11: hsl(155, 3%, 43%);
$sage12: hsl(155, 24%, 9%);
